html{
  height: 100%;
  margin: 0;
}

body {
  font-family:serif;
  height: 100%;
  margin: 0;
}


.carousel {
  margin-right: 2px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: black;
  text-align: center;
}

.message {
  text-align: center;
}

.col-md-5 {
  text-align: center;
}
